<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="LaneGroup">
      <section name="LeftLaneGroup" type="System.Configuration.NameValueSectionHandler" />
      <section name="RightLaneGroup" type="System.Configuration.NameValueSectionHandler" />
    </sectionGroup>
    <sectionGroup name="LeftLane">
      <section name="Lane_1" type="System.Configuration.NameValueSectionHandler" />
      <section name="Lane_2" type="System.Configuration.NameValueSectionHandler" />
      <section name="Lane_3" type="System.Configuration.NameValueSectionHandler" />
      <section name="Lane_4" type="System.Configuration.NameValueSectionHandler" />
      <section name="Lane_5" type="System.Configuration.NameValueSectionHandler" />
      <section name="Lane_6" type="System.Configuration.NameValueSectionHandler" />
      <section name="Lane_7" type="System.Configuration.NameValueSectionHandler" />
      <section name="Lane_8" type="System.Configuration.NameValueSectionHandler" />
    </sectionGroup>
    <sectionGroup name="RightLane">
      <section name="Lane_1" type="System.Configuration.NameValueSectionHandler" />
      <section name="Lane_2" type="System.Configuration.NameValueSectionHandler" />
      <section name="Lane_3" type="System.Configuration.NameValueSectionHandler" />
      <section name="Lane_4" type="System.Configuration.NameValueSectionHandler" />
      <section name="Lane_5" type="System.Configuration.NameValueSectionHandler" />
      <section name="Lane_6" type="System.Configuration.NameValueSectionHandler" />
      <section name="Lane_7" type="System.Configuration.NameValueSectionHandler" />
      <section name="Lane_8" type="System.Configuration.NameValueSectionHandler" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="RADAR_STREAMING_URL" value="http://223.171.32.245:8080/javascript_simple.html" />
    <add key="CCTV_ADDRESS" value="223.171.32.245" />
    <add key="CCTV_PORT" value="8000" />
    <add key="CCTV_ID" value="admin" />
    <add key="CCTV_PWD" value="daeju1234" />
    <add key="CSN" value="23068673" />
    <add key="CENTER_TYPE" value="2" />
    <add key="IP_ADDRESS" value="127.0.0.1" />
    <add key="VDS_ID" value="avogadro" />
    <add key="API_PORT" value="8089" />
    <add key="REMOTE_CTRL_PORT" value="8090" />
    <add key="REMOTE_CTRL_ID" value="admin" />
    <add key="REMOTE_CTRL_PASSWD" value="admin" />
    <add key="RTU_PORT" value="COM11" />
    <add key="BAUD_RATE" value="115200" />
    <add key="VDS_DB_ADDRESS" value="127.0.0.1" />
    <add key="VDS_DB_PORT" value="3306" />
    <add key="VDS_DB_NAME" value="vdsdb" />
    <add key="VDS_DB_USER" value="VDS" />
    <add key="VDS_DB_PASSWD" value="1234" />
    <add key="VDS_TYPE" value="1" />
    <add key="VDS_DEVICE_ADDRESS" value="127.0.0.1" />
    <add key="VDS_DEVICE_PORT" value="4693" />
    <add key="VDS_LOCAL_PORT" value="0" />
    <add key="CHECK_DISTANCE" value="4.5" />
    <add key="RTSP_STREAMING_URL" value="rtsp://....." />
    <add key="MA_SERVER_ADDRESS" value="127.0.0.1" />
    <add key="MA_SERVER_PORT" value="1234" />
    <add key="MA_API_PORT" value="8088" />
    <add key="VDS_USE_ANIMATION" value="1" />
    <add key="CTRL_PORT" value="12000" />
    <add key="CALIB_PORT" value="11000" />
    <add key="CENTER_ADDRESS" value="127.0.0.1" />
    <add key="CENTER_PORT" value="10000" />
    <add key="VDS_KIND" value="VD" />
    <add key="VDS_GROUP" value="1" />
    <add key="VDS_NO" value="1234567890" />
    <add key="KOR_EX_CENTER_ADDRESS" value="127.0.0.1" />
    <add key="KOR_EX_CENTER_PORT" value="30100" />
    <add key="CENTER_POLLILNG_PERIOD" value="30" />
    <add key="LOCAL_POLLING_PERIOD" value="30" />
    <add key="CHECK_SESSION_TIME" value="300" />
    <add key="SENSOR_COUNT" value="1" />
    <add key="POWER_SUPPLY_COUNT" value="1" />
    <add key="BOARD_COUNT" value="1" />
    <add key="KOR_EX_VERSION_NO" value="3" />
    <add key="KOR_EX_RELEASE_NO" value="6" />
    <add key="KOR_EX_RELEASE_YEAR" value="2022" />
    <add key="KOR_EX_RELEASE_MONTH" value="4" />
    <add key="KOR_EX_RELEASE_DAY" value="29" />
    <add key="DATA_STREAM_NUMBER_1" value="0" />
    <add key="SIMULATION_ENABLED_1" value="0" />
    <add key="VEHICLE_LENGTH_1" value="0" />
    <add key="VEHICLE_SPEED_1" value="0" />
    <add key="HEADWAY_1" value="0" />
    <add key="LOOP_DISTANCE_1" value="0" />
    <add key="LOOP_LENGTH_1" value="0" />
    <add key="DATA_STREAM_NUMBER_2" value="0" />
    <add key="SIMULATION_ENABLED_2" value="0" />
    <add key="VEHICLE_LENGTH_2" value="0" />
    <add key="VEHICLE_SPEED_2" value="0" />
    <add key="HEADWAY_2" value="0" />
    <add key="LOOP_DISTANCE_2" value="0" />
    <add key="LOOP_LENGTH_2" value="0" />
    <add key="LANE_CONFIG_0" value="0" />
    <add key="LANE_CONFIG_1" value="0" />
    <add key="SPEED_LOOP_CONFIG_1" value="0" />
    <add key="SPEED_LOOP_CONFIG_2" value="0" />
    <add key="SPEED_LOOP_CONFIG_3" value="0" />
    <add key="SPEED_LOOP_CONFIG_4" value="0" />
    <add key="SPEED_LOOP_CONFIG_5" value="0" />
    <add key="SPEED_LOOP_CONFIG_6" value="0" />
    <add key="SPEED_LOOP_CONFIG_7" value="0" />
    <add key="SPEED_LOOP_CONFIG_8" value="0" />
    <add key="SPEED_LOOP_CONFIG_9" value="0" />
    <add key="SPEED_LOOP_CONFIG_10" value="0" />
    <add key="SPEED_LOOP_CONFIG_11" value="0" />
    <add key="SPEED_LOOP_CONFIG_12" value="0" />
    <add key="SPEED_LOOP_CONFIG_13" value="0" />
    <add key="SPEED_LOOP_CONFIG_14" value="0" />
    <add key="SPEED_LOOP_CONFIG_15" value="0" />
    <add key="SPEED_LOOP_CONFIG_16" value="0" />
    <add key="SPEED_LOOP_CONFIG_17" value="0" />
    <add key="SPEED_LOOP_CONFIG_18" value="0" />
    <add key="SPEED_LOOP_CONFIG_19" value="0" />
    <add key="SPEED_LOOP_CONFIG_20" value="0" />
    <add key="SPEED_LOOP_CONFIG_21" value="0" />
    <add key="SPEED_LOOP_CONFIG_22" value="0" />
    <add key="SPEED_LOOP_CONFIG_23" value="0" />
    <add key="SPEED_LOOP_CONFIG_24" value="0" />
    <add key="SPEED_LOOP_CONFIG_25" value="0" />
    <add key="SPEED_LOOP_CONFIG_26" value="0" />
    <add key="SPEED_LOOP_CONFIG_27" value="0" />
    <add key="SPEED_LOOP_CONFIG_28" value="0" />
    <add key="SPEED_LOOP_CONFIG_29" value="0" />
    <add key="SPEED_LOOP_CONFIG_30" value="0" />
    <add key="SPEED_LOOP_CONFIG_31" value="0" />
    <add key="SPEED_LOOP_CONFIG_32" value="0" />
    <add key="POLLING_CYCLE" value="0" />
    <add key="VEHICLE_PRESENCE" value="0" />
    <add key="VEHICLE_NO_PRESENCE" value="0" />
    <add key="SPEED_CATEGORY_1" value="0" />
    <add key="SPEED_CATEGORY_2" value="0" />
    <add key="SPEED_CATEGORY_3" value="0" />
    <add key="SPEED_CATEGORY_4" value="0" />
    <add key="SPEED_CATEGORY_5" value="0" />
    <add key="SPEED_CATEGORY_6" value="0" />
    <add key="SPEED_CATEGORY_7" value="0" />
    <add key="SPEED_CATEGORY_8" value="0" />
    <add key="SPEED_CATEGORY_9" value="0" />
    <add key="SPEED_CATEGORY_10" value="0" />
    <add key="SPEED_CATEGORY_11" value="0" />
    <add key="SPEED_CATEGORY_12" value="0" />
    <add key="LENGTH_CATEGORY_1" value="0" />
    <add key="LENGTH_CATEGORY_2" value="0" />
    <add key="LENGTH_CATEGORY_3" value="0" />
    <add key="SPEED_ACCU_ENABLED" value="0" />
    <add key="LENGTH_ACCU_ENABLED" value="0" />
    <add key="SPEED_CALCU_ENABLED" value="0" />
    <add key="LENGTH_CALCU_ENABLED" value="0" />
    <add key="LOOP_DIMENSION_1" value="0" />
    <add key="LOOP_DIMENSION_2" value="0" />
    <add key="LOOP_DIMENSION_3" value="0" />
    <add key="LOOP_DIMENSION_4" value="0" />
    <add key="LOOP_DIMENSION_5" value="0" />
    <add key="LOOP_DIMENSION_6" value="0" />
    <add key="LOOP_DIMENSION_7" value="0" />
    <add key="LOOP_DIMENSION_8" value="0" />
    <add key="LOOP_DIMENSION_9" value="0" />
    <add key="LOOP_DIMENSION_10" value="0" />
    <add key="LOOP_DIMENSION_11" value="0" />
    <add key="LOOP_DIMENSION_12" value="0" />
    <add key="LOOP_DIMENSION_13" value="0" />
    <add key="LOOP_DIMENSION_14" value="0" />
    <add key="LOOP_DIMENSION_15" value="0" />
    <add key="LOOP_DIMENSION_16" value="0" />
    <add key="LOOP_DIMENSION_17" value="0" />
    <add key="LOOP_DIMENSION_18" value="0" />
    <add key="LOOP_DIMENSION_19" value="0" />
    <add key="LOOP_DIMENSION_20" value="0" />
    <add key="LOOP_DIMENSION_21" value="0" />
    <add key="LOOP_DIMENSION_22" value="0" />
    <add key="LOOP_DIMENSION_23" value="0" />
    <add key="LOOP_DIMENSION_24" value="0" />
    <add key="LOOP_DIMENSION_25" value="0" />
    <add key="LOOP_DIMENSION_26" value="0" />
    <add key="LOOP_DIMENSION_27" value="0" />
    <add key="LOOP_DIMENSION_28" value="0" />
    <add key="LOOP_DIMENSION_29" value="0" />
    <add key="LOOP_DIMENSION_30" value="0" />
    <add key="LOOP_DIMENSION_31" value="0" />
    <add key="LOOP_DIMENSION_32" value="0" />
    <add key="TRAFFIC_THRESHOLD" value="0" />
    <add key="SPEED_THRESHOLD" value="0" />
    <add key="LENGTH_THRESHOLD" value="0" />
    <add key="INCIDENT_EXECUTE_CYCLE" value="0" />
    <add key="PERSISTENCE_PERIOD" value="0" />
    <add key="ALGORITHM" value="0" />
    <add key="K_FACTOR_1" value="0" />
    <add key="K_FACTOR_2" value="0" />
    <add key="LOOP_THRESHOLD_1" value="0" />
    <add key="LOOP_THRESHOLD_2" value="0" />
    <add key="LOOP_THRESHOLD_3" value="0" />
    <add key="LOOP_THRESHOLD_4" value="0" />
    <add key="LOOP_THRESHOLD_5" value="0" />
    <add key="LOOP_THRESHOLD_6" value="0" />
    <add key="LOOP_THRESHOLD_7" value="0" />
    <add key="LOOP_THRESHOLD_8" value="0" />
    <add key="LOOP_THRESHOLD_9" value="0" />
    <add key="LOOP_THRESHOLD_10" value="0" />
    <add key="LOOP_THRESHOLD_11" value="0" />
    <add key="LOOP_THRESHOLD_12" value="0" />
    <add key="LOOP_THRESHOLD_13" value="0" />
    <add key="LOOP_THRESHOLD_14" value="0" />
    <add key="LOOP_THRESHOLD_15" value="0" />
    <add key="LOOP_THRESHOLD_16" value="0" />
    <add key="LOOP_THRESHOLD_17" value="0" />
    <add key="LOOP_THRESHOLD_18" value="0" />
    <add key="LOOP_THRESHOLD_19" value="0" />
    <add key="LOOP_THRESHOLD_20" value="0" />
    <add key="LOOP_THRESHOLD_21" value="0" />
    <add key="LOOP_THRESHOLD_22" value="0" />
    <add key="LOOP_THRESHOLD_23" value="0" />
    <add key="LOOP_THRESHOLD_24" value="0" />
    <add key="LOOP_THRESHOLD_25" value="0" />
    <add key="LOOP_THRESHOLD_26" value="0" />
    <add key="LOOP_THRESHOLD_27" value="0" />
    <add key="LOOP_THRESHOLD_28" value="0" />
    <add key="LOOP_THRESHOLD_29" value="0" />
    <add key="LOOP_THRESHOLD_30" value="0" />
    <add key="LOOP_THRESHOLD_31" value="0" />
    <add key="LOOP_THRESHOLD_32" value="0" />
    <add key="HIGH_TRAFFIC_DURATION" value="0" />
    <add key="HIGH_ON_DURATION" value="0" />
    <add key="HIGH_OFF_DURATION" value="0" />
    <add key="LOW_TRAFFIC_DURATION" value="0" />
    <add key="LOW_ON_DURATION" value="0" />
    <add key="LOW_OFF_DURATION" value="0" />
    <add key="OSCILLATION_THRESHOLD" value="0" />
    <add key="AUTO_SYNC_PERIOD" value="0" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <LaneGroup>
    <LeftLaneGroup>
      <add key="LaneGroupName" value="하행선" />
      <add key="LaneSort" value="2" />
      <add key="Direction" value="1" />
      <add key="LaneCount" value="2" />
    </LeftLaneGroup>
    <RightLaneGroup>
      <add key="LaneGroupName" value="상행선" />
      <add key="LaneSort" value="2" />
      <add key="Direction" value="2" />
      <add key="LaneCount" value="2" />
    </RightLaneGroup>
  </LaneGroup>
  <LeftLane>
    <Lane_1>
      <add key="LaneName" value="2차로" />
      <add key="Lane" value="4" />
      <add key="Direction" value="1" />
    </Lane_1>
    <Lane_2>
      <add key="LaneName" value="1차로" />
      <add key="Lane" value="3" />
      <add key="Direction" value="1" />
    </Lane_2>
  </LeftLane>
  <RightLane>
    <Lane_1>
      <add key="LaneName" value="1차로" />
      <add key="Lane" value="2" />
      <add key="Direction" value="2" />
    </Lane_1>
    <Lane_2>
      <add key="LaneName" value="2차로" />
      <add key="Lane" value="1" />
      <add key="Direction" value="2" />
    </Lane_2>
  </RightLane>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>