<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="PROCESS_NAME" value="VDSController" />
    <add key="PROCESS_PATH" value="D:\avogadro\Projects\VDS\SOURCE\2.GIT\VDSProjects\VDSController\bin\Release" />
  </appSettings>
</configuration>