<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
  <appSettings>
    <add key="PROCESS_NAME" value="VDSController"/>
    <add key="PROCESS_PATH" value="C:\Users\sungwoongpark\source\repos\noonti\VDSProjects\VDSController\bin\Release"/>
  </appSettings>
</configuration>
